html, body {
    height: 70%;
    margin: 0;
    padding: 0;
}

.title, .data, .button, .warning {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin-top: 2%;
    margin-bottom: 2%;
}

.data {
    margin: 4% auto;
}

.button {
    margin: auto;
}

.warning {
    margin: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 0;
    right: 1%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5%;
}

td, th{
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}